In [94]:
import re
from namematcher import NameMatcher

name_matcher = NameMatcher()

In [95]:
score = name_matcher.match_names('Nat Ahn', 'Natalie Ahn')
print(score)

0.9874999999999999

In [96]:
score = name_matcher.match_names('Natalie Ahn', 'Gabrielle Elul')
print(score)

0.2220802083934297

In [97]:
name_matcher = NameMatcher(distfun='levenshtein') # default
name_matcher = NameMatcher(distfun='jaro_winkler')
# name_matcher = NameMatcher(distfun=my_callable_function)

In [98]:
sample_names = ['Nat G. Ahn', 'John Doe', 'AJ Smith', 'Rob Smith']
pop_names = ['Ahn, Natalie Grace', 'Ahn, Nancy G.', 'Smith, Adam Jr.', 'Smith, Peter Robert', 'Doe, Paul',\
             'Doh, John', 'Anh, Nathan', 'Smith, Albert III']

In [99]:
matches = name_matcher.find_closest_names(sample_names, pop_names)
for i in range(len(matches)):
    orig_name = sample_names[i]
    pop_name, pop_index, score = matches[i]
    print('For name: %s, best match: %s, score %f' % (orig_name, pop_name, score))

For name: Nat G. Ahn, best match: Ahn, Nancy G., score 0.972639
For name: John Doe, best match: Doh, John, score 0.882667
For name: AJ Smith, best match: Smith, Adam Jr., score 0.863333
For name: Rob Smith, best match: Smith, Peter Robert, score 0.916250

### Additions to the code

To change parameters, e.g. to reduce or eliminate the discount on a match between a first/middle initial and first/middle name. In the example above, "Nat G. Ahn" was matched to "Ahn, Nancy G." though it should probably have matched "Ahn, Natalie Grace". That's because matching the middle initials "G." and "G." got a higher score than matching "G." to "Grace". If we change the parameter'disc_initial' to be closer to 1, the name we want becomes the best match.

In [100]:
name_matcher.params['disc_initial'] = 0.9

In [101]:
matches = name_matcher.find_closest_names(sample_names, pop_names)
for i in range(len(matches)):
    orig_name = sample_names[i]
    pop_name, pop_index, score = matches[i]
    print('For name: %s, best match: %s, score %f' % (orig_name, pop_name, score))

For name: Nat G. Ahn, best match: Ahn, Natalie Grace, score 0.981250
For name: John Doe, best match: Doh, John, score 0.882667
For name: AJ Smith, best match: Smith, Adam Jr., score 0.863333
For name: Rob Smith, best match: Smith, Peter Robert, score 0.916250

### Additions to the code


We could also try reducing or eliminating the discount on an abbreviation (i.e. a shortened version of a first/middle name that's longer than an initial) so that "Nat" and "Natalie" are treated as a perfect or nearly perfect match (and the one-letter difference between "Nat" and "Nancy" drops that pair to second place).

In [102]:
name_matcher.params['disc_initial'] = 0.8
name_matcher.params['disc_abbrev'] = 0.99

In [103]:
matches = name_matcher.find_closest_names(sample_names, pop_names)
for i in range(len(matches)):
    orig_name = sample_names[i]
    pop_name, pop_index, score = matches[i]
    print('For name: %s, best match: %s, score %f' % (orig_name, pop_name, score))

For name: Nat G. Ahn, best match: Ahn, Nancy G., score 0.976750
For name: John Doe, best match: Doh, John, score 0.882667
For name: AJ Smith, best match: Smith, Adam Jr., score 0.870000
For name: Rob Smith, best match: Smith, Peter Robert, score 0.923250

In [42]:
try_matcher = NameMatcher(distfun='jaro_winkler')

Katherine Ann Labrecque <br>
Mrs Katherine A Labrecque <br>
Kathy Labrecque <br>
Kathy Labrecque <br>

<br> <br>
Michael L Womack <br>
Michael Lynn Womack <br>
Mike Womack <br>
Michael Womack <br>

 <br> <br>
DEBORAH W O'BRIEN <br>
DEBORAH-KA ARTZ <br>
D.K. ARTZ <br>
DEBORAH ARTZ <br>

 <br> <br>
HARIRAM  GUPTA <br>
HARRY BAWEJA <br>
HARINDER SINGH BAWEJA <br>

In [105]:
score = try_matcher.match_names('Katherine Ann Labrecque', 'Mrs Katherine A Labrecque')
print(score)

0.89

In [106]:
score = try_matcher.match_names('Katherine Ann Labrecque', 'Kathy Labrecque')
print(score)

0.9526663931344486

In [107]:
score = try_matcher.match_names('Michael Lynn Womack', 'Michael L Womack')
print(score)

0.9500000000000001

In [108]:
score = try_matcher.match_names('Michael Lynn Womack', 'Michael Womack')
print(score)

0.9874999999999999

In [109]:
# These names are different hence low scores
score = try_matcher.match_names("DEBORAH W O'BRIEN", 'DEBORAH-KA ARTZ')
print(score)

0.46246333362799064

In [110]:
score = try_matcher.match_names("DEBORAH-KA ARTZ", 'D.K. ARTZ')
print(score)

0.8925

In [111]:
score = try_matcher.match_names("DEBORAH-KA ARTZ", 'DEBORAH ARTZ')
print(score)

0.9874999999999999

In [112]:
# Since these names are different, scores are low
score = try_matcher.match_names("HARIRAM GUPTA", 'HARRY BAWEJA')
print(score)

0.5053610070785122

In [113]:
score = try_matcher.match_names("HARINDER SINGH BAWEJA", 'HARRY BAWEJA')
print(score)

0.9245673292645868

In [114]:
score = try_matcher.match_names('Abigail Timothy', 'Abbie Timothy')
print(score)

0.8956224582817963

In [115]:
# This is fetching us very low scores
score = try_matcher.match_names('Kenneth Irvine Chenault', 'KIC')
print(score)

0.18906015629507225

In [116]:
# This is fetching us very low scores
score = try_matcher.match_names('NEENA  JAIN', 'NEENA GROVER')
print(score)

0.2294714728255649

In [43]:
score = try_matcher.match_names('Nick Jr', 'Nick')
print(score)

0.7050000000000001

In [118]:
score = try_matcher.match_names('Steven', 'Stephen')
print(score)

0.6586917501586543

### See how this scores changes after changing the weights

In [119]:
# Giving higher weights to Suffixes
try_matcher.params['weights'][2] = 0.5

In [120]:
score = try_matcher.match_names('Nick Jr', 'Nick')
print(score)

0.91

In [121]:
# Phonetics is working
score = try_matcher.match_names('Steven', 'Stephen')
print(score)

1.0686917501586544

### Cases which are not working

In [122]:
# This score is after increasing the weight but the score is still low
score = try_matcher.match_names('Kenneth Irvine Chenault', 'KIC')
print(score)

0.5990601562950723

In [123]:
# This score is after increasing the weight but the score is still low
score = try_matcher.match_names('NEENA  JAIN', 'NEENA GROVER')
print(score)

0.6394714728255649

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
import textdistance

In [24]:
import re
from namematcher import NameMatcher

In [25]:
df = pd.read_excel('EXL_Live_Project.xlsx')
df.head()

              Original Name            Incorrect Name
0                  Chenault                   Chenalt
1                  Chenault                  Chenaolt
2                  Chenault                  Chneault
3               Sean O'Neil                Sean ONeil
4  Claudia-Karina Elizabeth  Claudia Karina Elizabeth

In [44]:
# All Functions Here

def td_leven(x):
    return textdistance.levenshtein.normalized_similarity(x[0], x[1])

def td_hamming(x):
    return textdistance.hamming.normalized_similarity(x[0], x[1])

def td_dleven(x):
    return textdistance.damerau_levenshtein.normalized_similarity(x[0], x[1])

def td_jarowinkler(x):
    return textdistance.jaro_winkler.normalized_similarity(x[0], x[1])

def td_smithwaterman(x):
    return textdistance.smith_waterman.normalized_similarity(x[0], x[1])

def td_mongeelkan(x):
    return textdistance.monge_elkan.normalized_similarity(x[0], x[1])

def td_needlewunsch(x):
    return textdistance.needleman_wunsch.normalized_similarity(x[0], x[1])

def td_gotoh(x):
    return textdistance.gotoh.normalized_similarity(x[0], x[1])

def nm_leven(x):
    name_matcher = NameMatcher()
    return name_matcher.match_names(x[0], x[1])

def nm_jarowinkler(x):
    name_matcher = NameMatcher(distfun='jaro_winkler')
    return name_matcher.match_names(x[0], x[1])

def nm_leven_weights_changed(x):
    name_matcher = NameMatcher()
    name_matcher.params['weights'] = [0.1,0.4,0.5]
    return name_matcher.match_names(x[0], x[1])

def nm_jarowinkler_weights_changed(x):
    name_matcher = NameMatcher(distfun='jaro_winkler')
    name_matcher.params['weights'] = [0.1,0.4,0.5]
    return name_matcher.match_names(x[0], x[1])

In [45]:
## Applying Functions Here

df['TD_Levenshtein'] = df.apply(td_leven, axis=1)
df['TD_Hamming'] = df.apply(td_hamming, axis=1)
df['TD_Demaru_Levenshtein'] = df.apply(td_dleven, axis=1)
df['TD_Jaro_Winkler'] = df.apply(td_jarowinkler, axis=1)
df['TD_Smith_Waterman'] = df.apply(td_smithwaterman, axis=1)
df['TD_MongeElkan'] = df.apply(td_mongeelkan, axis=1)
df['TD_Needle_Wunsch'] = df.apply(td_needlewunsch, axis=1)
df['TD_Gotoh'] = df.apply(td_gotoh, axis=1)
df['NM_Levenshtein'] = df.apply(nm_leven, axis=1)
df['NM_JaroWinkler'] = df.apply(nm_jarowinkler, axis=1)
df['NM_Levenshtein_Weights'] = df.apply(nm_leven_weights_changed, axis=1)
df['NM_JaroWinkler_Weights'] = df.apply(nm_jarowinkler_weights_changed, axis=1)

In [46]:
df

,Original Name,Incorrect Name,TD_Levenshtein,TD_Hamming,TD_Demaru_Levenshtein,TD_Jaro_Winkler,TD_Smith_Waterman,TD_MongeElkan,TD_Needle_Wunsch,TD_Gotoh,NM_Levenshtein,NM_JaroWinkler,NM_Levenshtein_Weights,NM_JaroWinkler_Weights
0,Chenault,Chenalt,0.875000,0.625000,0.875000,0.975000,0.857143,0.054688,0.875000,0.928571,0.714620,0.733500,0.878558,0.890000
1,Chenault,Chenaolt,0.875000,0.875000,0.875000,0.950000,0.875000,0.054688,0.937500,0.937500,0.714620,0.717000,0.878558,0.880000
2,Chenault,Chneault,0.750000,0.750000,0.875000,0.966667,0.750000,0.062500,0.875000,0.875000,0.674510,0.728000,0.854249,0.886667
3,Sean O'Neil,Sean ONeil,0.909091,0.545455,0.909091,0.981818,0.900000,0.041322,0.909091,0.950000,0.947716,0.967000,0.968313,0.980000
4,Claudia-Karina Elizabeth,Claudia Karina Elizabeth,0.958333,0.958333,0.958333,0.957246,0.958333,0.019965,0.979167,0.979167,0.975625,0.975625,0.990250,0.990250
5,Kenneth Irvine Chenault,Chenault Kenneth Irvine,0.217391,0.130435,0.217391,0.743707,0.217391,0.021739,0.565217,0.621739,0.251560,0.491681,0.564624,0.709784
6,Kenneth Irvine,Kenneth,0.500000,0.500000,0.500000,0.900000,0.000000,0.022959,0.500000,0.757143,0.479735,0.603616,0.701227,0.778843
7,Kenneth Irvine,Irvine Chenault,0.133333,0.000000,0.133333,0.498413,0.142857,0.033163,0.533333,0.535714,0.251560,0.491681,0.564624,0.709784
8,Kenneth Irvine Chenault,Kenneth I Chenault,0.782609,0.391304,0.782609,0.934300,0.722222,0.018904,0.782609,0.927778,0.950000,0.950000,0.980000,0.980000
9,Kenneth Irvine Chenault,Kenneth D Chenault,0.739130,0.347826,0.739130,0.913186,0.666667,0.017958,0.760870,0.900000,0.925000,0.925000,0.970000,0.970000
10,Kenneth Irvine Chenault,K I C,0.217391,0.043478,0.217391,0.576812,0.000000,0.004726,0.217391,0.100000,0.360707,0.748972,0.651186,0.863889
11,Kenneth Irvine Chenault,KIC,0.130435,0.043478,0.130435,0.584541,0.000000,0.002836,0.130435,-0.633333,0.189060,0.533056,0.539624,0.743333
12,Joseph Gordon Levitt,Jsph Gordon Levitt,0.900000,0.050000,0.900000,0.903333,0.888889,0.025000,0.900000,0.944444,0.923636,0.934375,0.969454,0.973750
13,James Anderson,Jim Anderson,0.785714,0.142857,0.785714,0.828896,0.750000,0.033163,0.821429,0.900000,0.938214,0.940000,0.975286,0.976000
14,Abigail Timothy,Abbie Timothy,0.733333,0.133333,0.733333,0.863621,0.692308,0.026667,0.800000,0.869231,0.895622,0.936833,0.958249,0.974733
15,Kenneth Irvine Chenault,KennethIrvine Chenault,0.956522,0.304348,0.956522,0.964032,0.954545,0.021739,0.956522,0.977273,0.975625,0.975625,0.990250,0.990250
16,Kenneth Irvine Chenault,IrvineKenneth Chenault,0.434783,0.000000,0.434783,0.879447,0.409091,0.021739,0.673913,0.718182,0.916250,0.916250,0.966500,0.966500
17,Steven,Stephen,0.714286,0.428571,0.714286,0.894444,0.666667,0.069444,0.785714,0.833333,0.658692,0.680333,0.844662,0.857778
18,Nick Jr,Nick,0.571429,0.571429,0.571429,0.914286,0.250000,0.040816,0.571429,0.775000,0.705000,0.705000,0.650000,0.650000
19,Kenneth Irvine Chenault,Kenneth Chenault Chenault,0.680000,0.320000,0.680000,0.864586,0.652174,0.017958,0.800000,0.839130,0.875000,0.927778,0.950000,0.971111
20,Katherine Ann Labrecque,Mrs Katherine A Labrecque,0.760000,0.120000,0.760000,0.806570,0.826087,0.021739,0.800000,0.878261,0.890000,0.890000,0.956000,0.956000
21,Katherine Ann Labrecque,Kathy Labrecque,0.608696,0.173913,0.608696,0.836977,0.666667,0.017013,0.630435,0.840000,0.952666,0.957575,0.981067,0.983030
22,Katherine Ann Labrecque,Kathy Labrecque,0.608696,0.173913,0.608696,0.836977,0.666667,0.017013,0.630435,0.840000,0.952666,0.957575,0.981067,0.983030
23,Michael Lynn Womack,Michael L Womack,0.842105,0.473684,0.842105,0.968421,0.812500,0.022161,0.842105,0.943750,0.950000,0.950000,0.980000,0.980000
24,Michael Lynn Womack,Mike Womack,0.526316,0.105263,0.526316,0.769442,0.636364,0.018006,0.552632,0.754545,0.904013,0.900417,0.961605,0.960167
25,Michael Lynn Womack,Michael Womack,0.736842,0.421053,0.736842,0.947368,0.642857,0.020776,0.736842,0.907143,0.987500,0.987500,0.995000,0.995000
26,DEBORAH-KA ARTZ,DEBORAH W O'BRIEN,0.470588,0.411765,0.470588,0.825882,0.400000,0.024444,0.676471,0.700000,0.462463,0.532189,0.694319,0.740018
27,DEBORAH-KA ARTZ,D.K. ARTZ,0.466667,0.133333,0.466667,0.652910,0.666667,0.022222,0.533333,0.722222,0.892500,0.892500,0.957000,0.957000
28,DEBORAH-KA ARTZ,DEBORAH ARTZ,0.800000,0.466667,0.800000,0.943333,0.750000,0.028889,0.800000,0.925000,0.987500,0.987500,0.995000,0.995000
29,HARRY BAWEJA,HARINDER SINGH BAWEJA,0.523810,0.142857,0.523810,0.805808,0.583333,0.038194,0.547619,0.758333,0.924567,0.933508,0.969827,0.973403
30,HARRY BAWEJA,HARIRAM GUPTA,0.384615,0.230769,0.384615,0.659646,0.333333,0.024306,0.653846,0.666667,0.505361,0.558175,0.714589,0.749226
31,Mohammad Amir Faiz,Mohd. Amir Fiaz,0.611111,0.166667,0.666667,0.849259,0.533333,0.027778,0.722222,0.806667,0.755934,0.930396,0.859208,0.961958
32,NEENA JAIN,NEENA GROVER,0.500000,0.500000,0.500000,0.820000,0.400000,0.040000,0.666667,0.730000,0.229471,0.231775,0.555789,0.556710

In [47]:
cols = ['NM_Levenshtein', 'NM_JaroWinkler']
cols_to_disp = ['Original Name', 'Incorrect Name', 'NM_Levenshtein', 'NM_JaroWinkler']
df[(df[cols] < 0.8).any(axis=1)][cols_to_disp]

,Original Name,Incorrect Name,NM_Levenshtein,NM_JaroWinkler
0,Chenault,Chenalt,0.714620,0.733500
1,Chenault,Chenaolt,0.714620,0.717000
2,Chenault,Chneault,0.674510,0.728000
5,Kenneth Irvine Chenault,Chenault Kenneth Irvine,0.251560,0.491681
6,Kenneth Irvine,Kenneth,0.479735,0.603616
7,Kenneth Irvine,Irvine Chenault,0.251560,0.491681
10,Kenneth Irvine Chenault,K I C,0.360707,0.748972
11,Kenneth Irvine Chenault,KIC,0.189060,0.533056
17,Steven,Stephen,0.658692,0.680333
18,Nick Jr,Nick,0.705000,0.705000
26,DEBORAH-KA ARTZ,DEBORAH W O'BRIEN,0.462463,0.532189
30,HARRY BAWEJA,HARIRAM GUPTA,0.505361,0.558175
31,Mohammad Amir Faiz,Mohd. Amir Fiaz,0.755934,0.930396
32,NEENA JAIN,NEENA GROVER,0.229471,0.231775

In [48]:
cols = ['NM_Levenshtein_Weights', 'NM_JaroWinkler_Weights']
cols_to_disp = ['Original Name', 'Incorrect Name', 'NM_Levenshtein_Weights', 'NM_JaroWinkler_Weights']
df[(df[cols] < 0.8).any(axis=1)][cols_to_disp]

,Original Name,Incorrect Name,NM_Levenshtein_Weights,NM_JaroWinkler_Weights
5,Kenneth Irvine Chenault,Chenault Kenneth Irvine,0.564624,0.709784
6,Kenneth Irvine,Kenneth,0.701227,0.778843
7,Kenneth Irvine,Irvine Chenault,0.564624,0.709784
10,Kenneth Irvine Chenault,K I C,0.651186,0.863889
11,Kenneth Irvine Chenault,KIC,0.539624,0.743333
18,Nick Jr,Nick,0.650000,0.650000
26,DEBORAH-KA ARTZ,DEBORAH W O'BRIEN,0.694319,0.740018
30,HARRY BAWEJA,HARIRAM GUPTA,0.714589,0.749226
32,NEENA JAIN,NEENA GROVER,0.555789,0.556710